---
import * as style from "./sponsoring.css";

import Layout from "../components/Layout.astro";
import SponsoringPack from "../components/SponsoringPack.astro";
---

<Layout pageClass={style.page}>
    <h1 class={style.title}>Rejoindre l’I.U.T. Nancy – Charlemagne</h1>

    L’IUT Nancy-Charlemagne est situé au 2Ter Bd Charlemagne à Nancy.

    Des trains toute la journée
    Lille-Nancy : 14 trajets/jour, dès 6h42
    Luxembourg – Nancy : 33 trajets/jour, dès 5h16
    Metz-Nancy : 51 trajets/jour, dès 6h02
    Paris-Nancy : 15 trajets/jour, dès 7h05
    Reims-Nancy : 13 trajets/jour, dès 7h06
    Strasbourg-Nancy : 20 trajets/jour, dès 4h44


    <h2 class={style.title}>En transports en commun</h2>

    à pieds : L’IUT Nancy-Charlemagne est facile d’accès et se trouve à 15 minutes à pied de la gare SNCF de Nancy.
    en bus : En Bus avec le Réseau Stan : les lignes 3 (arrêt Médreville) et 16 (arrêt Charlemagne) desservent l’IUT. Trajet simple : 1,50€

    Pour en savoir plus sur les bus : consultez le plan du réseau STAN.

     <h2 class={style.title}>En voiture</h2>
    Retrouvez les parkings (payants) de la ville de Nancy situés à proximité.

     <h2 class={style.title}>En vélo</h2>
    L’IUT dispose d’un garage à vélo fermé à clefs

    <h2 class={style.title}>Accessibilité</h2>
    L’IUT est accessible aux personnes à mobilité réduite avec des aménagements spécifiques : ascenseurs, amphithéâtres, toilettes, rampes d’accès.

    Pour information, les sièges dans l’amphithéâtre ne présentent pas d’accoudoirs.

    Si vous souhaitez en savoir plus ou si vous souhaitez vous assurer que vous pourrez assister dans de bonnes conditions au Tech F'Est 2025,
    n’hésitez pas à contacter l’équipe d’organisation.
</Layout>
