---
import * as style from "./speakers.css";

import Layout from "../components/Layout.astro";
import Speaker from "../components/Speaker.astro";
---

<Layout pageClass={style.page}>
  <section class={style.speakers}>
    <Speaker
      title="Migration Technique: un parcours du combattant"
      name="Arnaud Lahaxe"
      abstract="Migrer un code legacy vieux de plus de 20 ans, encore massivement utilisé pour des fonctionnalités critiques au cœur du business, est un défi de taille. Entre dette technique, complexité accumulée et exigences métier incontournables, comment mener à bien une telle transformation sans mettre en péril l'activité de l'entreprise ?    Dans cette conférence, je partagerai mon retour d'expérience sur la migration d'un système legacy central, en abordant les méthodologies, outils et bonnes pratiques qui ont permis de minimiser les risques et d'assurer une transition en douceur. Vous découvrirez comment nous avons identifié les zones à risque, mis en place une approche progressive et embarqué progressivement les développeurs dans la migration.    Que vous soyez en pleine réflexion sur la modernisation de votre stack ou confronté à un projet de migration d’envergure, cette session vous donnera des clés concrètes pour anticiper les obstacles et maximiser vos chances de succès."
    />
    <Speaker
      title="Comment scaler une integration Stripe à large échelle : une histoire de fiabilité"
      name="Kevin Maschtaler"
      abstract="Kévin, Staff Software Engineer à Shotgun, vous parlera des challenges et apprentissages de la mise à grande échelle d’une intégration Stripe dans un produit complexe et international. Un prétexte parfait pour s’initier au Reliability Engineering. Au menu : qualité de service, idempotence, atomicité, consistence de données, workers/retries, et bien d’autres."
    />
    <Speaker
      title="Façonner les architectures du futur avec Dapr"
      name="Christophe Gigax"
      abstract="Construire son architecture distribuée en micro-service n'est jamais chose facile, et nombreuses sont les équipes faisant face aux difficultés de ce type d'architecture complexe pourtant très prometteuse. Dapr est un projet Open Source - incubé par la fondation CNCF - permettant de faciliter l'élaboration d'une architecture micro-service. Agissant comme une couche d'abstraction applicatives, Dapr expose des mécanismes généraux tels que la gestion d'état ou les pub/sub via des canaux de communication standard. L'objectif est de simplifier la conception d'application en micro-service, peu importe la technologie utilisée (Node, Go, .NET, React ...) Nous verrons dans cette session différentes architectures possibles avec Dapr, et quelques démo notamment avec Kubernetes permettant de faciliter l'orchestration des microservices."
    />
    <Speaker
      title="Nomad & Co : Une alternative crédible à Kubernetes pour la transition vers le cloud ?"
      name="Steven MARTINS"
      abstract="Face à la modernisation des infrastructures, la transition d’une architecture N-tiers historique vers une approche cloud-native et containerisée est un défi de taille. Kubernetes s’impose souvent comme le choix par défaut, mais est-ce la seule option viable ? Dans cette session, nous explorerons Nomad, la solution d’orchestration d’HashiCorp, et son écosystème : Vault pour la gestion des secrets, Consul pour la découverte automatique des services, GitLab CI/CD pour l’automatisation des déploiements, Docker et notre factory d’images pour la gestion des conteneurs, ainsi que HAProxy pour la résilience. Nous verrons comment cette stack permet de répondre aux enjeux de scalabilité, de simplification opérationnelle et de migration progressive vers le cloud public. Nomad est-il une alternative sérieuse à Kubernetes, ou une étape intermédiaire dans la transition ? Peut-être, peut-être pas… Mais c’est un choix pragmatique que nous détaillerons ensemble !"
    />
    <Speaker
      title="CI / CD: Correct Implementation or Continuous Deception"
      name="Anne-Flore François"
      abstract="Des secrets volés, une récupération de votre code, une RCE (Remote Code Execution)… Voici quelques exemples de ce qui peut arriver si votre CI n’est pas correctement configurée et sécurisée. Et pourtant, la CI / CD est souvent hors scope des tests d’intrusion et personne ne prend la responsabilité de la sécuriser. Les CI / CD nous ont apporté beaucoup de sécurité et d’améliorations de qualité dans nos pratiques de code au quotidien, en apportant des standards de code et en faisant tourner des outils pour automatiser nos pratiques de sécurité. Elles font cependant partie de la surface d’attaque de nos applications et doivent être analysée, mises à jour et sécurisées au même titre que le code. Certaines configurations par défaut sont même dangereuses ! Dans ce talk, vous verrez comment faire des injections dans les CI / CD, récupérer des secrets ou exécuter des scripts et quels sont les bons moyens pour les sécuriser."
    />
    <Speaker
      title=""
      name=""
      abstract=""
      empty={true}
    />
    <Speaker
      title=""
      name=""
      abstract=""
      empty={true}
    />
    <Speaker
      title=""
      name=""
      abstract=""
      empty={true}
    />
  </section>
</Layout>
