---
import * as style from "./sponsoring.css";

import Layout from "../components/Layout.astro";
import Sponsor from "../components/Sponsor.astro";
import SponsoringPack from "../components/SponsoringPack.astro";
---

<Layout pageClass={style.page}>
  <h2>Ils nous soutiennent</h2>
  <section class={style.sponsors}>
    <Sponsor
      name="Darkmira",
      logo="/img/darkmira.png",
      url="https://darkmira.fr"
    />
    <Sponsor
      name="Tdutrion",
      logo="/img/tdutrion.jpg",
      url="https://tdutrion.dev/"
    />
  </section>
  <h2>Devenez sponsor</h2>
  <section class={style.packs}>
    <SponsoringPack
      name="Jaumont"
      price={600}
      places={0}
      messages={3}
      tables={0}
      logo={true}
      talk={false}
    />
    <SponsoringPack
      name="Bergamote"
      price={1800}
      places={3}
      messages={4}
      tables={1}
      logo={true}
      talk={false}
    />
    <SponsoringPack
      name="Stanislas"
      price={4500}
      places={5}
      messages={6}
      tables={2}
      logo={true}
      talk={true}
    />
  </section>
</Layout>
