---
import * as style from "./sponsoring.css";

import Layout from "../components/Layout.astro";
import SponsoringPack from "../components/SponsoringPack.astro";
---

<Layout pageClass={style.page}>
  <section class={style.packs}>
    <SponsoringPack
      name="Jaumont"
      price={600}
      places={0}
      messages={3}
      tables={0}
      logo={true}
      talk={false}
    />
    <SponsoringPack
      name="Bergamote"
      price={1800}
      places={3}
      messages={4}
      tables={1}
      logo={true}
      talk={false}
    />
    <SponsoringPack
      name="Stanislas"
      price={4500}
      places={5}
      messages={6}
      tables={2}
      logo={true}
      talk={true}
    />
  </section>
</Layout>
