---
import Logo from "./Logo.astro";
import * as style from "./Nav.css";
---

<nav class={style.nav}>
  <a href="/" class={style.home}><Logo />Tech F'Est</a>
  <div class={style.links}>
    <a href="/sponsoring" class={style.link}>Sponsors</a>

    <a
      href="https://www.helloasso.com/associations/tech-f-est/evenements/tech-f-est-2025"
      class={style.link}>Billetterie</a
    >

    <a
      href="https://conference-hall.io/tech-fest-2025"
      class={style.link}
      target="_blank">CFP</a
    >
    <a href="/association" class={style.link}>L'association</a>

    <a href="/coc" class={style.link}>Code of Conduct</a>
  </div>
</nav>
