---
import Logo from "./Logo.astro";
import * as style from "./Nav.css";
---

<nav class={style.nav}>
  <a href="/" class={style.home}><Logo />Tech F'Est</a>
  <div class={style.links}>
    <a href="/sponsoring" class={style.link}>Sponsors</a>

    <a
      href="https://conference-hall.io/tech-fest-2025"
      class={style.link}
      target="_blank">Conférencier·ères</a
    >
    <a href="/association" class={style.link}>L'association</a>
  </div>
</nav>
