---
interface Props {
  title: string;
  name: string;
  abstract: string;
  empty?: boolean;
}

import * as style from "./Speaker.css";


const { title, name, abstract, empty = false } = Astro.props;
---

<article class={style.speaker}>
{empty ? (
  <div class={style.emptyState}></div>
) : (
  <>
    <h3 class={style.name}>{title}</h3>
    <h4 class={style.included}>{name}</h4>
    <p class={style.included}>{abstract}</p>
  </>
)}

</article>
